.container-list {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 225px;
}

.container-list li {
  list-style: none;
  font-size: 25px;
}

.resources-footer {
  margin-left: 100px;
}

.container-landingpage {
  background: black;
  height: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  text-align: center;
}

.container-landingpage a {
  font-size: 50px;
  color: #777;
  border: 2px solid #777;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}

.container-feedback-header {
  text-align: center;
}

.feedback-container {
  margin: 0 auto;
}
