body {
  font-family: "ff-enzo-web",sans-serif;
}

body.home {
  padding-top: 50px;

}

a {
  color: black;
}

.btn-primary {
    color: #fff;
    background-color: #777;
    border-color: #777;
}

.container-list {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 225px;
}

.container-list li {
  list-style: none;
  font-size: 20px;
}

.container-landingpage {
  background: black;
  height: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  text-align: center;
}

.container-landingpage a {
  font-size: 50px;
  color: #777;
  border: 2px solid #777;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}

.container-feedback-header {
  text-align: center;
}

.video-content {
  text-align: left;
}

.video-content h2 {
  font-style: italic;
}

.video-content p {
  font-size: 25px;
}

.hero-index {
  text-align: center;
  background-image: url("..assets/hero.jpg") cover;
}

.hero-image img {
  width: 80%;
  margin-left: 10%;
}

.mic-image {
  text-align: center;
}

.mic-image img {
  width: 20%;
}

.mic-image-421 {
  text-align: center;
}

.mic-image-421 img {
  width: 40%;
}

.mic-image-ribbon {
  text-align: center;
}

.mic-image-ribbon img {
  width: 20%;
}

.hero-text {
  text-align: center;
  background-image: url("../assets/faders.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 200px;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-weight: bold;
  color: white;
}

.icon {
  text-align: center;
}

.icon img {
  width: 15%;
}

span {
  color: #F7061D;
}

.first-video {
  margin-top: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: #F7061D;
}

@media (max-width: 900px) {
  .hero-text {
    text-align: center;
    background-image: url("../assets/faders-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon img {
    width: 25%;
  }
}
